[2015-09-13 02:27] holocronweaver opened #3 "merging with torrent_1080_subtitles"
Hi Venomous!

Any chance you will merge your work into the `torrent_1080_subtitles` branch in the near future?

[2015-09-13 08:30] VeNoMouS commented on #3
I don't do that branch.. I normally leave that up to @junalmeida .... but I dunno... I might pick it up in the future... but I don't really want to touch the subtitles branch to be perfectly honest...

Who knows... maybe when I have more spare time..

tl;dr.... Maybe..

[2015-09-13 08:52] holocronweaver commented on #3
My understanding is that `torrent_1080_subtitles` contains both support for subtitle and a 1080 HD filters. Does it do anything else? I assume the other branch at least has a generic HD filter, which would be fine for me 90% of the time. It will be annoying to have to regenerate by DB and config again, but I want to be on the branch which is most likely to continue being updated.

[2015-09-13 09:08] VeNoMouS commented on #3
no... 720p/1080 is in the tv add/edit section on both branches...

![Image](http://i.imgur.com/oM8QvfS.png)

[2015-09-13 09:11] VeNoMouS commented on #3
As for "generating the db again" you shouldn't need too... you should just be able to copy the sickbeard.db and config.ini's over to the other branch and should work...

[2015-09-13 19:24] holocronweaver commented on #3
The database version in the 1080_subtitle repo is 15, but the one in your repo is 18 and one has fields the other doesn't have. Also, config file version in your repo is higher. Still, the original config and DB were backed up, so I can always regress if I really need to.

[2015-11-19 00:12] VeNoMouS commented on #3
I'm going to close this for now.

[2015-11-19 00:13] #3 closed

[2015-11-25 21:55] craigspiers opened #4 "Update eztv plugin"
Can you please get things working with eztv. URL is https://eztv.ag/

Cheers

[2015-11-30 18:32] VeNoMouS commented on #4
Completed.

[2015-11-30 18:32] #4 closed

[2015-12-01 05:46] VeNoMouS opened #6 "TVRage is gone... replace with tvmaze?"

[2015-12-01 05:57] VeNoMouS commented on #6
Refer: http://www.tvmaze.com/blogs/6/an-update-on-the-tvrage-situation

[2015-12-27 19:45] alkar commented on #6
Has there been any progress on this? Any way I could help?

[2015-12-27 21:58] VeNoMouS commented on #6
I was planning on looking at this over the break... I only finished up with work on the 23rd... most likely start this week :)

[2015-12-28 00:09] alkar commented on #6
Thanks for the update @VeNoMouS , much appreciated!

[2016-01-03 02:12] VeNoMouS commented on #6
Hrrm... started to work on migrating to tvmage... and discovered that tvrage.com is backup and running... its EXTREMELY slow... but its up as of right now..

[2016-01-03 02:18] VeNoMouS commented on #6
Ah... the API does not look like its returning results...

[2016-01-03 02:41] VeNoMouS commented on #6
Ok ... looking at what tvrage code was doing (uggh ugly.. :P) I can write a tvmaze api.. will start either tonight or tomorrow, shouldn't take me too long, i've already mapped out the changes required in my head.

[2017-01-07 23:34] nick-harper opened #7 "TorrentLeech"
Hi,

It doesn't look as if TorrentLeech works any more, it says no results found but when I use the link manually in TL it shows.

I am not sure if it is because of the new layout?

[2017-01-08 00:14] VeNoMouS commented on #7
Are you using the latest version of my git? I'll look into it for you, I moved over to the classic UI on my version. there is a pending PR for @junalmeida's to fix his.

[2017-01-08 00:53] VeNoMouS commented on #7
Ok found the problem... they have changed the URL in the quickdownload so the regex on url wasnt matching , causing the whole thing to fail...

```for torrent in re.compile('<span class="title"><a href="/torrent/\d+">(?P<title>.*?)</a>.*?<td class="quickdownload">\s+<a href="/(?P<url>.*?)">',re.MULTILINE|re.DOTALL).finditer(data):```

Becomes

```for torrent in re.compile('<span class="title"><a h

[2017-01-08 00:58] VeNoMouS commented on #7
Should now be fixed for you via b8b270b8739eb5a10cf2be8572aa5d85e531c9e6 :) , enjoy

[2017-01-08 03:20] VeNoMouS commented on #7
Sorry should have tested that better, cd128cc687333a1fe38b34cb17a7694fb8eff776 fixes the prepended url issue. I had to blow away my cache.db in order to fix this, as the url for the torrent obviously got cached.

[2017-01-09 20:12] VeNoMouS commented on #7
@nick-harper , can you post those examples here please? thanks.

[2017-01-09 20:41] nick-harper commented on #7
Sure, an example is "Taboo" which was a show with a few results.

2017-01-09 20:40:32 INFO     SEARCHQUEUE-MANUAL-SEARCH :: Unable to find a download for Taboo (2017) - 1x01 - Episode 1
2017-01-09 20:40:32 INFO     SEARCHQUEUE-MANUAL-SEARCH :: Provider gave result Taboo UK S01E01 720p HDTV x264-ORGANiC but that doesn't seem like a valid result for Taboo (2017) so I'm ignoring it
2017-01-09 20:40:3

[2017-01-09 22:09] VeNoMouS commented on #7
Ah , yes that is because that is a scene name exception, i submitted a PR exception for that show the other day with sickbeard project...[https://github.com/midgetspy/sb_tvdb_scene_exceptions/pull/52](https://github.com/midgetspy/sb_tvdb_scene_exceptions/pull/52)

The  commit hash is  3a634b0b2253506c048897970b911588ea43a8d5

Once this exception is accepted Taboo (2017) will match ```Taboo UK``` a

[2017-01-09 22:11] nick-harper commented on #7
Thanks, where would i add that?

[2017-01-09 22:17] VeNoMouS commented on #7
Shutdown sb.....

sqlite3 cache.db

[code]

[code]

exit, then start SB again .... once the PR is accepted however, it will automatically insert itself in.

[2017-01-09 22:34] VeNoMouS commented on #7
Anyway, hope that helps you ... :)

[2017-01-10 08:37] nick-harper commented on #7
Thanks, I will give it a go!

Why doesn't it work without the exception?

[2017-01-10 08:42] VeNoMouS commented on #7
'Taboo UK' != 'Taboo (2017)'

[2017-01-10 20:42] VeNoMouS commented on #7
@nick-harper , just spoke to @thezoggy from sickbeard and he's now pushed the 'taboo uk' into their scene exceptions.

[2017-01-10 22:23] VeNoMouS commented on #7
@nick-harper , can confirm the exception is now infact working....

[2017-01-11 02:49] #7 closed

[2017-01-11 19:52] DirtyJerz commented on #7
Still picking UK version

http://pastebin.com/QBVuYHwq

[2017-01-11 20:14] VeNoMouS commented on #7
@DirtyJerz ?? its meant too...

From your output...

[code]

Taboo (2017) was released as Taboo UK by scene and p2p groups...

![image](https://cloud.githubusercontent.com/assets/597545/21864833/6f19f126-d8a8-11e6-8854-8e01e1365434.png)

Taboo (2017) is released by the BBC...

![image](https://cloud.githubusercontent.com/assets/597545/21864687/c194a492-d8a7-11e6-9827-059056527465.png)

[2017-01-11 20:23] VeNoMouS commented on #7
@DirtyJerz on another note.... I noticed this in your log...

[code]

Want to open a ticket for me to investigate this please? :)

[2017-01-11 21:13] VeNoMouS commented on #7
Actually,  EZRSS is a dead project, it just redirects to eztv, which there is already a provider for... I may just remove the EZRSS provider.

[2017-01-12 04:06] VeNoMouS opened #8 "Give the ability to bind the web server to a specific ip address"
Give ability in Config->General to define an ip address to bind the web server to.

[2017-01-12 04:07] VeNoMouS commented on #8
I have done 100% of this already, just discovered a problem with cherrypy that i need to investigate in regards to _helper erroring for some reason on test system.

[2017-01-12 14:59] DirtyJerz commented on #7
Ahh, OK I thought it was feleased under FX in the US. Disregard then.

As for EZRSS, yeah, i'd say remove it if it's a dead project. Thanks for the quick response.

[2017-01-12 15:06] thezoggy commented on #7
ezrss and womble are both dead

[2017-01-12 23:22] VeNoMouS commented on #8
Committed a6843a018b8f4adfe5d4fff22b7030b57af564f1 and 74fd2b5bf1a78936bcadea64eeff8fae930f5b1a.

[2017-01-12 23:22] #8 closed

[2017-02-05 12:41] Velociraptor85 opened #9 "Request Upgrade path"
Is there an upgrade path from junalmedia's branch to yours ? I mean that my configs are not lost ?

[2017-02-05 21:35] VeNoMouS commented on #9
which branch are you using? if your using torrentProviders branch , you can simply copy the config.ini and sickbeard.db in your existing install to clone of mine, and you'll be up and running again. if your using subtitles branch... that's a little different you'll have to do a dump in sickbeard.db its sqlite3 as some of the columns are different etc..

[2017-02-05 22:19] Velociraptor85 commented on #9
seems to have worked :) thanks 👍

[2017-02-05 22:19] #9 closed

[2017-02-05 22:49] VeNoMouS commented on #9
np :)

[2017-03-04 10:07] Velociraptor85 opened #10 "Problem with SSL"
Hej,
I have a problem with scrapping torrentz2 page ... or at least thats the only one I get these Errors:

Also I found some info [here](https://stackoverflow.com/questions/30538542/tlsv1-alert-internal-error-during-handshake) and [here](https://unix.stackexchange.com/questions/169034/curl-35-error14077438ssl-routinesssl23-get-server-hellotlsv1-alert-intern#169428)

So I guess it has something to

[2017-03-05 05:10] VeNoMouS commented on #10
Curl wont help you, curl uses its own librarys, we use python requests.

<typing on the fly..>

[code]

Is this like an embedded system such as a synology etc?

Also what version is your python?

I would recommend (if you have pip) upgrading pyopenssl and pyasn1 , you will most likely find that will resolve your issue.

via

```pip install --upgrade pyopenssl```
```pip install --upgrade pyasn1```

[2017-03-05 10:40] Velociraptor85 commented on #10
Python 2.7.3 on a Debian Wheezy
pip install --upgrade pyopenssl give me errors
aptitude python-openssl = 0.13-2+deb7u1

[2017-03-05 11:58] VeNoMouS commented on #10
well... tbh with pip you get ```pyOpenSSL-16.2.0```

https://pypi.python.org/pypi/pyOpenSSL

![image](https://cloud.githubusercontent.com/assets/597545/23587044/0ff59cca-0208-11e7-8908-d4cffa35203a.png)

I think its time you upgraded to debian jessie.... tbh, you need to upgrade your python to at least 2.7.9... your going to get continued problems like that..

[2017-03-05 22:10] Velociraptor85 commented on #10
well I guess you are right :/ but I dont want to :) anyways thanks I will check it out maybe next week or another weekend :)

[2017-03-05 23:02] VeNoMouS commented on #10
well to be fair, wheezy is over 2 years old and is really outdated now, the SSL you have doesn't even support SNI - https://en.wikipedia.org/wiki/Server_Name_Indication as far as im aware..

Addtionally...

Python 2.7.9 ... https://www.python.org/downloads/release/python-279/

[code]

[2017-03-06 18:59] Velociraptor85 commented on #10
jap I know .. thanks ... =)

I just did not want to update because of some issues I could run into with the systemd and stuff but I need to do it somethime :) thanks in advance I will close and reopen if the problem is there afterwards

[2017-03-06 18:59] #10 closed

[2017-03-06 20:00] VeNoMouS commented on #10
Yea migrating from systemv to systemd is a nightmare imho, i still dislike systemd.... but what can you do ... ya know?!

[2017-03-08 22:49] VeNoMouS opened #11 "Add ability to ignore torrents that have no seeds from providers."

[2017-03-22 22:40] nidserz opened #12 "Not Downloading a show - IPT"
Hi,

For some reason my sickbeard isn't download the latest (March 15) episode of Black-ish.
See the log:

[code]

Any ideas why this may be happening? Was working okay before.

[2017-03-22 22:49] VeNoMouS commented on #12
@nidserz let me throw in some debugging and lets see whats going on, give me a little bit, as pretty busy at work, i'll see what I can do during lunch..

[2017-03-22 22:50] nidserz commented on #12
@VeNoMouS no problem, take your time. thanks a lot!

[2017-03-30 00:51] VeNoMouS commented on #12
Hey @nidserz sorry I haven't forgotten about you, I've just been really busy with work, i travelled half way around the world for a week then back again for work.. Your #1 in my queue for outside of work stuff.

[2017-04-05 01:48] VeNoMouS commented on #12
@nidserz under your 'debug' drop down in view log , what does it say above ,
``` [IPTorrents] parseResults()) Some results found.```

it should be like

```Title: <name_here>```

[2017-04-05 01:58] VeNoMouS commented on #12
If I manually do what the ipt provider in SB is doing...

I get the following results.... which is correct, so I'm just trying to track down the issue ... can you email a clean backlog manual search for a black-ish episode please?

![image](https://cloud.githubusercontent.com/assets/597545/24686394/cb62a7d4-1a07-11e7-8855-db2844cdaf13.png)

[2017-04-05 02:03] VeNoMouS commented on #12
Question.... your not searching for "SD" quality are you? as there is only 2 episodes in SD quality from season 3 , both being episode 9....

![image](https://cloud.githubusercontent.com/assets/597545/24686511/91f52908-1a08-11e7-9027-f40e9a3edd31.png)

[2017-04-06 22:40] nidserz commented on #12
@Hi VeN, sorry for the late reply - was traveling for two weeks. I am searching for "SD" quality... strange as all the other episodes, as well as the latest (e20) were snatched and downloaded fine. Just episode 19 is having an issue. Maybe I should download it manually? Or let me know what further information you need.

[2017-04-06 22:58] VeNoMouS commented on #12
aaaah i see why, ```Black-ish``` has a scene exceptions.

![image](https://cloud.githubusercontent.com/assets/597545/24778876/0a4ca48e-1b81-11e7-97d8-78f4b59fc719.png)

I'll test the output again with the scene exception name and get back to you.

[2017-04-09 12:39] nidserz opened #13 "Not Processing Riverdale"
Hi VeN,

I downloaded a new show - Riverdale - using IPT, manually.
However, want to process the downloaded shows into the folders. It isn't able to process.

SickBeard created a folder called "Riverdale", but the episodes are not moving to the folder.

How I have it set up is... completed torrents go into a folder
Torrents > Completed
That folder is then processed and then shows are sent to their

[2017-04-09 23:05] VeNoMouS commented on #13
Can I get some context, SD ? screen shot of some filenames etc.. find the section in your log where it tries to move it etc...

[2017-04-21 01:44] VeNoMouS commented on #13
@nidserz .....

[2017-04-21 08:05] nidserz commented on #13
Ok, so SickBeard downloaded the latest episode and it processed it fine - the ones not sorting (manually downloaded) have "US" in the title. The latest episode (automatically) downloaded did not. I guess I have to remove the US in the title. Does this screenshot help?

![screen shot 2017-04-21 at 12 04 20 pm](https://cloud.githubusercontent.com/assets/12033271/25268690/bd885548-268a-11e7-8b1f-9694

[2017-04-22 00:53] VeNoMouS commented on #13
That will most likely be due to no scene exception I'll add one in and you can re-test it

![image](https://cloud.githubusercontent.com/assets/597545/25300023/ced11a6c-275a-11e7-8df1-4cea963b5ece.png)

[2017-04-22 00:59] VeNoMouS commented on #13
Ok, an update has been placed in scene exceptions, if you want to take effect straight away...

![image](https://cloud.githubusercontent.com/assets/597545/25300066/74cf9498-275b-11e7-8b89-bfbc045afee9.png)

[2017-04-22 01:59] VeNoMouS commented on #13
@nidserz let me know how you go, so i can close this off please.

[2017-04-22 21:36] nidserz commented on #13
@VeNoMouS you're a genius. no idea what you did, but it works :) you can close. thanks as always!

[2017-04-23 03:45] #13 closed

[2017-06-05 23:16] VeNoMouS commented on #12
@nidserz is this still an issue?

[2017-06-22 13:30] nidserz commented on #12
Still only for that episode. The others downloaded ok so should be fine.

[2017-07-13 00:38] VeNoMouS commented on #12
@nidserz so i assume you mean S03E18?

![image](https://user-images.githubusercontent.com/597545/28145574-628c09ae-67c7-11e7-9fb7-abc45bae74e9.png)

You would assume the 480p would match... how ever

[code]

since it does not contain hdtv or web* in the title as an enforcement on quality for SDTV tagging... it's ignored due to not matching all tags..

[2017-07-13 00:38] #12 closed

[2017-07-13 14:25] nick-harper opened #14 "Torrentleech not finding any results"
Hi,

For some reason Torrentleech doesn't seem to find anything, it is using the classic URL but even if it is something like a Family Guy that I know is there with loads of uploaders it just doesn't seem to find anything.

Is there anything I can do as a test?

[2017-07-13 14:28] nick-harper commented on #14
Is it possible to make it debug to the log the URL it is trying so I can try it manually in the browser?

[2017-07-13 14:32] nick-harper commented on #14
Ah, looking in the file I have now got it to show the URL it is trying.

An example link is: https://classic.torrentleech.org/torrents/browse/index/query/Bosch S01E01/categories/26,27,32

That gives 2 results, Sickbeard says no results :(

[2017-07-13 21:22] VeNoMouS commented on #14
What do you have your quality `type` set to, HD720p? I'll investigate it today

[2017-07-14 07:09] nick-harper commented on #14
Thanks, I just have it set to HD.

I just set it to any, and the same still happens.

[2017-07-14 07:10] VeNoMouS commented on #14
rgr rgr, thanks sorry, i been off work today with an injury and slept most of today ... will look into it shortly for you mate :)

[2017-07-14 07:11] nick-harper commented on #14
Oh :( Hope you feel better soon 👍

[2017-07-15 05:13] VeNoMouS commented on #14
Hrmm... was this *wanted* or was it a manual query?

![image](https://user-images.githubusercontent.com/597545/28236708-eb402b4e-6980-11e7-8801-05f1bafbaa14.png)

[code]

[2017-07-15 07:25] nick-harper commented on #14
It was manual :(

[2017-07-15 07:37] VeNoMouS commented on #14
Are you running my branch? can you send me the debug log please, that is a fresh git, simply added TL as a provider, and did a manual search for S01E01.

[2017-07-15 15:54] nick-harper commented on #14
I thought it was, but come to think of it I recently upgraded so not sure if it has taken another version.

Just downloaded your files again and moved them over but got:

16:53:27 ERROR::MAIN :: Your database version (19) has been incremented past what this version of Sick Beard supports (18).
If you have used other forks of Sick Beard, your database may be unusable due to their modifications.

:(

[2017-07-15 16:05] nick-harper commented on #14
Thanks, I just removed the dir, just used your code and it works. I know I was using your code before but when I updated it must have updated with something else :(

Sorry and thanks for your time!

[2017-07-15 16:05] #14 closed

[2017-07-15 22:59] VeNoMouS commented on #14
You can export the data out and insert it back in, its not all that hard tbh its jsut an sqlite db..

[2017-07-15 22:59] VeNoMouS commented on #14
And np, least we got there in the end :)

[2017-09-20 15:37] nidserz opened #15 "500 Internal Server Error"
Suddenly got this 500 Internal Error when trying to access the SB page in my browser. Any idea how to fix this? Tried some solutions on Google but nothing helped. Got it to load funny at times, but clicking or refreshing just leads back to this.

<img width="746" alt="screen shot 2017-09-20 at 7 36 02 pm" src="https://user-images.githubusercontent.com/12033271/30653039-041f86de-9e3b-11e7-9b19-55d5

[2017-09-20 20:39] DirtyJerz commented on #15
Looks like there's something wrong with the database. Did you move the installation to another location or change the permissions on the .db file?

[2017-09-20 22:55] VeNoMouS commented on #15
Yea that looks like theres an issue with your database... email me through your sickbeard.db files ill take a look for you.

@DirtyJerz since its a sqlite database, sometimes they do corrupt... which is possible

[2017-10-09 03:49] VeNoMouS commented on #15
Issue was at users end, a restart of sickbeard resolved issue.

[2017-10-09 03:49] #15 closed

[2018-03-12 09:37] jappish84 opened #16 "Can't use database going from Juanmeida's version"
I tried to move from Junalmeida's version to this version, but get the error:

[code]
Is there some way I can move to this version without having to manually reconfigure everything?

[2018-03-12 23:42] VeNoMouS commented on #16
You are using his subtitles branch yes?

[2018-03-13 00:11] VeNoMouS commented on #16
The subtitles branch database has a slightly different schema layout, but you can manually export the required data to the normal database, i can give you the command if that's what you want?

[2018-03-13 08:28] jappish84 commented on #16
Yes, I'm using the subtitle branch - which is great

I would really appreciate some help moving over - Junalmedia's version isn't working that good anymore - misses alot of episodes, keep getting "_doSearch() invalid json returned." for torrentday

Thanks

[2018-03-14 22:03] VeNoMouS commented on #16
Yea, so you need to be aware, he ran into some major problems with some of the modules in the subtitles branch, so he stopped development on it, and i never maintained that branch, i only do the torrentProviders branch, but thats cool I can help you out converting your sickbead.db , you have 2 options, i can give you the commands and you can it yourself , or you can just email me your sickbeard.db

[2018-03-16 08:01] jappish84 commented on #16
I really appreciate the help, thank you! - check your email =)

[2018-03-16 18:55] DirtyJerz commented on #16
@VeNoMouS You're the man. (or woman, unclear)

[2018-03-16 21:01] VeNoMouS commented on #16
lol, im a dude, got your email , gotta pop out this morning, but will do it for you this afternoon if that's cool.

[2018-03-17 03:06] VeNoMouS commented on #16
I've mailed the db back to you, it wasn't actually as bad as what i thought it was going to be, i checked the schema's of each table, and i simply bumped the db_version back down to 18.

[2018-03-17 03:09] VeNoMouS commented on #16
The only differences where just orders of the columns ... and spaces in the schema..

[code]

[2018-03-18 12:08] jappish84 commented on #16
Thanks man, I've tried it and Sickbeard seems to load the database as it's supposed to. I have another issue now though - can't reach web-ui with your version, I've described the details in the email.

Thanks again!

[2018-03-18 20:57] VeNoMouS commented on #16
[code]

[2018-03-18 21:09] jappish84 commented on #16
Thanks, ended up changing it in the config.ini file. Must have been tired or something earlier

[2018-03-18 21:56] VeNoMouS commented on #16
Just as an FYI... I am rewriting the frontend as well... since that's liker a billion years old...

[2018-03-18 22:01] jappish84 commented on #16
Cool - looking forward to trying that out =)

Looks like torrentday did some changes on their part? Still keep getting "_doSearch() invalid json returned." even with your version. Care to take a look? Should I open a seperate issue?

[2018-03-18 22:11] VeNoMouS commented on #16
Yea refer https://github.com/junalmeida/Sick-Beard/issues/321 , issue has only been discovered recently, I have to write a workaround.

[2018-03-18 22:47] jappish84 opened #17 "torrentday not working anymore"
same problem as reported here: https://github.com/junalmeida/Sick-Beard/issues/321

I thought I'd let TD hear my voice aswell and asked them to cooperate, user thebang referred to try and use https://torrentday.com/sign-in.php?

When email address is entered in the field, a one-time sign in url is sent back to the email address - maybe this is something you can work with?

[2018-03-19 02:24] VeNoMouS commented on #17
@jappish84 interesting, I wasn't aware of this one... I wonder how long that token is valid for...

[2018-03-19 02:25] VeNoMouS commented on #17
seems it's a one time usage... my concern is about if you restart SB or if their site is offline long enough your session becomes invalid.. means you have to re-do the code each time.

[2018-03-19 02:29] VeNoMouS commented on #17
If you look at the original ticket, I have worked out how to bypass their recaptcha.. but it costs 0.002 cents a shot.

[2018-03-19 02:35] #16 closed

[2018-03-22 07:41] dventurino opened #18 "Error 503 from Torrentz2"
Is anyone experiencing these errors with Torrentz ?

`[Torrentz] getURL() requested URL - https://torrentz2.eu/feed?f=tv+added%3A2d&p=1 returned status code is 503`

[2018-03-23 22:35] VeNoMouS commented on #18
OK 503 is due to the cloudflare's DDOS protection javascript, I know of a way to get around this..

Sorry about delay responding, I was overseas when i saw your previous ticket.

[2018-03-24 00:04] VeNoMouS commented on #18
Yea so I took one library that I know of , rewrote it a bit... because it now requires nodejs... rewrote it to use js2py again like it use to use.. boom bang, we having a working solution.. just need to implement it into SB for you

[2018-03-24 03:10] VeNoMouS commented on #18
Update:

Almost finished...

[code]

.....

[code]

etc.. etc..

[2018-03-24 04:02] VeNoMouS commented on #18
Just trying to work out a small bug when js2py is sitting under the lib dir

[2018-03-24 11:54] dventurino commented on #18
Awesome!
Did you edit only torrentz.py or other files as well?

Also, what's the procedure to switch from the other repo (subtitles branch) to yours?

[2018-03-25 01:18] VeNoMouS commented on #18
@dventurino are you using torrentProviders branch or the subtitle branch off? i only do the torrentProviders branch... if you are using the subtitle branch... you need to do a step after you clone my repo... copy your sickbeard.db over, and sqlite3 sickbeard.db change the version number in it from 19 to 18.

[2018-03-25 04:36] VeNoMouS commented on #18
@dventurino this has now been committed under a65e45781fb0e0af4d5a66c40bb8a4678a503d1b , enjoy :)

[2018-03-25 04:49] VeNoMouS commented on #17
Re from original ticket...

so we currently have three points of attack

1) Bypass reCAPTCHA all together via 3rd party, complete automation and never worry about auth again.
2) Login to website, manually extract cookies from browser and put them into SB running session.
3) Automate an email password request, have user manually copy auth code from the email response back into SB current running se

[2018-03-25 04:50] VeNoMouS commented on #17
Sorry I have been out of the country all week so haven't had time to actually do anymore on this, I did #18 yesterday and pushed live today.

This will be my next priority job to do.

[2018-03-25 04:51] #18 closed

[2018-03-25 08:07] jappish84 commented on #17
Yeah, no worries, you are doing a great job.

I'm okay with whatever solution you decide to go with, even of it means using a third party auth

[2018-03-25 16:41] dventurino commented on #18
Thanks! ;)
I tried cherry-picking your commit and torrentz.py file because I need the subtitles part, but I guess I'm missing something cause my logs get stuck on:

[2018-03-26 00:37] VeNoMouS commented on #18
Sorry, I don't support subtitles branch.. have you checked your cache.db to see that its pulling the rss correctly once it hits the bypass..

[2018-03-26 16:27] dventurino commented on #18
It doesn't.
I cleared my cache and restarted sickbeard...

It gets stuck on:

2018-03-26 18:23:05 DEBUG    SEARCHQUEUE-RSS-SEARCH :: [Torrentz] getURL() retrieving URL: https://torrentz2.eu/feed?f=tv+added%3A2d&p=0
2018-03-26 18:23:05 DEBUG    SEARCHQUEUE-RSS-SEARCH :: [Torrentz] getURL() requested URL - https://torrentz2.eu/feed?f=tv+added%3A2d&p=0, encounted CloudFlare DDOS Protection.. Bypassin

[2018-03-26 20:27] dventurino commented on #18
Same result with your branch (with db_version 18)

[2018-03-26 20:48] VeNoMouS commented on #18
Is there anything on your sickbeard cli? i mean when you launch the app... works fine my end..

[2018-03-26 20:54] dventurino commented on #18
Not in sickbeard.log file...but I guess something is still not ok because I can see sickbeard starting on the right port, but I can't reach the web interface

[2018-03-26 20:54] VeNoMouS commented on #18
i said CLI...

[2018-03-26 21:08] dventurino commented on #18
ops :)
I was missing pytz...I can see the torrentz cache updating now

I'm not sure why I can't reach the web interface though...it's starting on the right port

[2018-03-26 21:33] dventurino commented on #18
I saw that another user had this problem in https://github.com/VeNoMouS/Sick-Beard/issues/16

Not sure why, but I needed to set the IP address as well in config.ini, even though I had 0.0.0.0 before and it was working fine.

[2018-03-26 21:35] VeNoMouS commented on #18
my version it binds to loop back... use -a to define 0.0.0.0

to see the options run `python SickBeard.py -h`

Additionally you can define it in the general config

![image](https://user-images.githubusercontent.com/597545/37934467-ca7d85bc-31aa-11e8-9341-b507b64bc511.png)

By default the older version automatically just binds to 0.0.0.0 and you cannot change that.

[2018-03-26 21:35] VeNoMouS commented on #18
also re pytz i will include that in the lib dir , as its a common library i `assumed` you would have had it.

[2018-03-26 21:41] dventurino commented on #18
Ok thanks !

Should I use 0.0.0.0 or my internal IP?
Also, do I need to uninstall pytz on your next update?

[2018-03-26 21:52] VeNoMouS commented on #18
either or, you can also use -a temporary if you want when you start sickbeard, and/or you can set it in the web interface in the config->general and hit save.

0.0.0.0 means bind to every ip listed

re uninstall... no you wont need to (you can if you want) as python reads from the syspath and when we load lib dir we include the librarys under lib to that path.

[2018-03-27 01:19] VeNoMouS commented on #18
lol you deleted your comment my above looks out of context now :P

[2018-03-27 21:38] dventurino commented on #18
I was editing while you were responding 😁 i restored it

[2018-03-28 18:07] serramat opened #19 "More providers?? :-)"
Hi, I recently switched from junalmeida's repository to yours!!! ;-)

In the other repo I opened an issue where I asked if it was possible to add more providers (https://github.com/junalmeida/Sick-Beard/issues/309).

What do you think about this idea? I thought for example to RARBG (API link here: https://torrentapi.org/apidocs_v2.txt), 1337x, Extratorrent..

[2018-03-28 20:07] VeNoMouS commented on #19
aren't those trackers... not providers? either way sure I can look into it, i have one major thing to do with torrentday first before i can get to this, so maybe after this long weekend ... towards the end of next week?

[2018-03-28 20:47] serramat commented on #19
Of course!! No problem! ;-)

If you want I can send to you some code in Java and/or JavaScript for RARBG written by me if it can help you..

[2018-03-31 08:02] VeNoMouS commented on #17
Small update on this as been working on it today...

![image](https://user-images.githubusercontent.com/597545/38161203-d741903e-3526-11e8-8bb9-4d0b4b5cf694.png)

With the anti-captcha it stores it away for later use into the cookie storage :P

Just have the email token request to do.

![image](https://user-images.githubusercontent.com/597545/38161271-92af5242-3528-11e8-966d-a46065a307ab.png)

sma

[2018-04-02 01:26] VeNoMouS commented on #17
Have pushed this live, feel free to have a play / test ... what ever, let me know .. it appears to work in all my tests...

[2018-04-02 07:02] jappish84 commented on #17
Awesome work, will give it a go and let you know!

[2018-04-03 03:07] VeNoMouS commented on #17
@jappish84 any comments etc?

[2018-04-03 18:36] jappish84 commented on #17
Sorry, haven't had the chance, my router got hacked so I had to spend the day updating/reconfiguring a gazillion settings.

Will test tomorrow and report back

[2018-04-04 14:10] jappish84 commented on #17
hmm, seems like I'm not getting the newest version. I'm still seeing the old authentication method only. What am I missing here?

`2018-04-04 16:06:14 INFO     CP Server Thread-8 :: Checking if source needs an update
2018-04-04 16:06:11 INFO     CP Server Thread-8 :: No update needed
2018-04-04 16:06:09 INFO     CP Server Thread-8 :: Checking if source needs an update
2018-04-04 16:03:56 INFO

[2018-04-04 21:27] VeNoMouS commented on #17
are you using my repo or @junalmeida 's? he hasnt merged the PR i sent him, so only my code has the new features.

[2018-04-05 06:39] jappish84 commented on #17
Yea, I've made sure I'm using your version, I even double checked it.

I had an update a few days back that I updated to. Can't find current version in WebUI but here is the contents of version.txt inside Sickbeard folder: efcf0561aa3049df51b45d6ca58606f8bf3ac6d8

[2018-04-06 05:39] VeNoMouS commented on #17
@jappish84 you went here

![image](https://user-images.githubusercontent.com/597545/38404883-24ed168e-39c1-11e8-9289-b6ca06cbc4df.png)

then

![image](https://user-images.githubusercontent.com/597545/38404931-6d404e1a-39c1-11e8-8dd7-875f7ac623d6.png)

Then select your auth method..

![image](https://user-images.githubusercontent.com/597545/38404939-76b2cbf8-39c1-11e8-8acd-05f84ef514dd.png)

[2018-04-06 05:43] VeNoMouS commented on #17
You can also confirm your git via `git remote show origin`

which should give you something like

[code]

[2018-04-06 06:08] jappish84 commented on #17
Yeah, I was there. First I had to create a SSH tunnel because of the old message "Sorry in order to use this function, your URL has to be 127.0.0.1 or localhost"

After creating the tunnel and visiting 127.0.0.1, the only authentication method was the old reCaptcha

I didn't install through git, I simply downloaded and inflated the .zip, maybe that's why I'm not getting the new version? The update

[2018-04-06 07:08] VeNoMouS commented on #17
what happens if you force check?

![image](https://user-images.githubusercontent.com/597545/38407459-9d8c9400-39cd-11e8-836a-56eebd66577a.png)

I would simply copy the sickbard.db and config.ini and git clone off my repo and copy your configs over..

[2018-04-06 07:09] VeNoMouS commented on #17
Actually... I'm not 100% certain a force check would work with a zip download, as it wont know where the git came from to pull off..

Install via git off my repo mate and let me know how you go.

[2018-04-06 07:15] jappish84 commented on #17
I simply get 'No update needed'

![upd](https://user-images.githubusercontent.com/3979357/38407718-de1a36e2-397a-11e8-81aa-e952361da72f.png)

I'll try git cloning and let you know

[2018-04-06 20:12] dventurino commented on #18
I'm receiving this error lately:

Error while searching Torrentz, skipping: Error parsing Cloudflare IUAM Javascript challenge. Cloudflare may have changed their technique, or there may be a bug in the script.

[2018-04-06 21:16] VeNoMouS commented on #18
@dventurino yea cloudflare updated couple days ago, pull the update from me i pushed like 2 days ago.

![image](https://user-images.githubusercontent.com/597545/38446237-1e04170c-3a4b-11e8-9d29-34f7d9ad2782.png)

[2018-04-07 00:48] VeNoMouS commented on #17
@jappish84 ..... can i close this ticket mate?

[2018-04-07 00:56] VeNoMouS commented on #18
@dventurino all good now?

I've tested it and its fine...
[code]

[2018-04-07 08:13] dventurino commented on #18
yep! 👍 it's working

[2018-04-07 08:20] jappish84 commented on #17
I finally got around to test it and it works great mate! Great job as always! A big thank you!

[2018-04-07 21:17] VeNoMouS commented on #18
cool, cheers for giving me heads up :) let me know if you have any more problems.

[2018-04-07 21:19] VeNoMouS commented on #17
Cool, awesome that it's working for you mate, let me know if you encounter any other problems or want new features added :)

have a good weekend man.

[2018-04-09 06:43] VeNoMouS commented on #19
@serramat well 0f742a47161bd82cdfd2a5e506bef45599e6a314 adds in rarbg for starters ...

[2018-04-09 06:53] serramat commented on #19
Awesome! Thanks! 👍

You're the best! 🥇

[2018-04-09 07:00] VeNoMouS commented on #19
1337x is alot harder, as there is no direct download or magnet info on that search page.. you have to go inside each item returned by the search result page to get any download information....

as it stands, that isn't feasible for how sickbeard works... yes... we could scrape the living hell out of the website getting each download url when we search, but.. it comes back to WHY?!

[2018-04-09 07:14] serramat commented on #19
ooooh.. it's true! :-( I forgotten that!
No problem! ;-) For me eztv, torrentz and rarbg are the best..

[2018-04-10 01:04] VeNoMouS commented on #19
Cool cool, let me know of any other issues or addons you want.

[2018-04-10 01:15] VeNoMouS commented on #19
@serramat fixed a small bug when I was double checking my work before i fully closed this,

The bug is around the _doSearch() returning a list of dictionaries rather than a list of tuples,  It would break if you were backlog searching... this is due to the generic provider wrapper, ultimately I think I will move to dicts over tuples... but I will need to change every provider to return the correct

[2018-04-10 06:24] serramat commented on #19
I don't have the possibility to test it right now! :-( As soon as possible I'll feedback you..

Anyway..thank you for your work, I appreciate that!

[2018-04-11 13:41] serramat commented on #19
I've found these errors in my logs.. :-(

2018-04-11 09:45:42 SEARCHQUEUE-RSS-SEARCH :: [Rarbg] getURL() requested URL: https://torrentapi.org/pubapi_v2.php, with params: {'category': 'tv', 'search_string': '', 'min_leechers': 0, 'limit': 100, 'token': u'uzob3vh716', 'min_seeders': 1, 'format': 'json_extended', 'app_id': 'sickbeard-torrentProviders'}, returned status code is 429
2018-04-11 05:45:4

[2018-04-12 02:29] VeNoMouS commented on #19
Hrrm I'll look into that for you.

[2018-04-12 06:47] serramat commented on #19
Maybe I've found the problem..in the logs pasted above, I saw that the token isn't updated..
For example: the token 'uzob3vh716' is used in two research (2018-04-11 01:45:42 and 2018-04-11 05:45:44) but every token automatically expire in 15 minutes (I readed this in the guide: https://torrentapi.org/apidocs_v2.txt).

Is it possible is that the caused of 429 error code?

[2018-04-12 09:28] VeNoMouS commented on #19
@serramat i'll rewrite all the token code so its cleaner..  and yea, if the token is always the same most likely the cause, i'll do it tonight or tomorrow so expect an update with the next ~24hrs

[2018-04-13 03:35] VeNoMouS commented on #19
ok @serramat looked into this, tokens are always the same.... a that 429 error is actually a http status not the api json reply error, status code 429 is basicly saying stop spamming me, i've added on another second to the get requests to the server incase its that. lets see if you see get more of them i can always read the `Retry-After` that comes back in a 429... but hopefully the 429 is generat

[2018-04-13 05:01] VeNoMouS commented on #19
I've added in debug logging for status code 429 and outputing the Retry-After header so we can debug it a bit better if it occurs to you again.

[2018-04-13 06:28] serramat commented on #19
Thanks!
I've found 3 problems.. sorry.. :-(

1.

2.

3. I tried to search "silicon valley s05e02" but it respond with no result. But if I invoke the api from browser it respond to me with 5 torrents (https://torrentapi.org/pubapi_v2.php?mode=search&search_string=silicon%20valley%20S05E02&limit=100&format=json_extended&sort=seeders&token=fhld7vj2ki&category=1;18;41&app_id=myappid):

[2018-04-14 01:06] VeNoMouS commented on #19
ah sorry , i'll clean that up, tbh i didn't test it that much as i was at work.

[2018-04-14 01:08] VeNoMouS commented on #19
re searching, have  you got it marked as HD or SD? because i only see 720/1080p results there.. you can look at your debug logs to see how it filter matched.

also 3) would be broken because of 1)

[2018-04-14 01:22] VeNoMouS commented on #19
re issue 2) I found this from the rarbg owner , https://github.com/pymedusa/Medusa/issues/442

So what i've done is bump the token session expiry to 10 minutes, lets see if that helps.

[2018-04-14 07:20] serramat commented on #19
Thanks for the first point.

Before found the second and the last points I've correct the validToken in isValidToken.
Maybe the error 3) is for the formatting pattern:

1. "silicon valley s05e02": 5 torrents
2. "silicon valley 5x02": no torrents

2018-04-14 09:13:41 INFO     SEARCHQUEUE-MANUAL-SEARCH :: Unable to find a download for Silicon Valley - 5x02 - Reorientation

[2018-04-14 08:11] VeNoMouS commented on #19
@serramat yea i pushed an update for couple fixes earlier

[2018-04-14 08:19] serramat commented on #19
The error pasted above is after updated your code..
My last commit it's 2b1cf3f54a700337857e70402c2f5935bb2129fb

[2018-04-14 08:29] VeNoMouS commented on #19
which "error" you have a pattern match issue there ... you still havent told me if its HD or SD...

[2018-04-14 08:31] VeNoMouS commented on #19
All your results of the search there are HD that you have posted, if you have SD it wont format match.

[2018-04-14 08:32] serramat commented on #19
Sorry..you have right.. ;-) HD

[2018-04-14 08:45] VeNoMouS commented on #19
whats in your filtering log?

[2018-04-14 08:46] VeNoMouS commented on #19
it looks like this...

[code]

[2018-04-14 08:54] VeNoMouS commented on #19
@serramat 720 or 1080?

[2018-04-14 08:58] serramat commented on #19
I found only these:
[code]

720

[2018-04-14 09:22] VeNoMouS commented on #19
I'll check soon, playing pubg event atm .. :P

[2018-04-14 10:24] VeNoMouS commented on #19
Forgot search mode, in the payload :[

[2018-04-14 10:48] serramat commented on #19
oooooh yes!!! 👍 now it's worked!! :-)

[2018-04-14 12:32] #19 closed

[2018-04-15 10:05] serramat commented on #19
ooooooh noooo... :-( it's still bug here.. :-(

[code]

[2018-04-15 11:07] VeNoMouS commented on #19
Ok i'll look into it tomorrow for you

[2018-04-15 11:21] VeNoMouS commented on #19
@serramat threw in a hotfix.. give it a test out for me would you.

[2018-04-15 21:56] VeNoMouS commented on #19
@serramat any issues after that hotfix?

[2018-04-16 04:06] serramat commented on #19
Sometimes I've these errors in my logs
[code]
but tonight snatched a new episode of Silicon Valley..

[2018-04-16 04:42] VeNoMouS commented on #19
I need to look at
[code]

any maybe turn these into info rather than error..

[code]

[2018-04-17 00:44] VeNoMouS commented on #19
Pushed out a hotfix for you, try that.

[2018-04-17 22:13] VeNoMouS commented on #19
@serramat hows that hotfix goign for you?

[2018-04-18 05:15] serramat commented on #19
It's worked.
In my error logs I don't see none of previous errors.

[2019-01-02 22:46] jappish84 opened #20 "Sickbeard broke after OS update"
Hi, I updated my system to the latest OSMC running on raspberry pi and noticed that Sickbeard stopped working. All I get is this error message:

`osmc@Trdck:~$ python SickBeard/SickBeard.py
Starting up Sick Beard torrentProviders
Traceback (most recent call last):
  File "SickBeard/SickBeard.py", line 416, in <module>
    main()
  File "SickBeard/SickBeard.py", line 329, in main
    sickbeard.CFG

[2019-01-03 05:38] VeNoMouS commented on #20
have you tried pip installing them?

[2019-01-03 05:38] VeNoMouS commented on #20
Ok i'll try have a look into it for you, what version of python are you running 2, or 3?

[2019-01-03 10:23] jappish84 commented on #20
I think I installed 'configobj' successfully using pip, I saved the output:

[code]

I was originally running python 2.7.13 then tried installing and running using python 3 but Python 3.5.3 only gives me a syntax error:

[code]

[2019-01-03 10:25] VeNoMouS commented on #20
sickbeard is not python 3 compatible

[2019-01-03 10:28] VeNoMouS commented on #20
Try the following..

[code]

then

[code]

[2019-01-03 10:32] jappish84 commented on #20
Now the install looks better, but still the same issue:

[code]

[2019-01-03 10:36] VeNoMouS commented on #20
Have you checked your config.ini to make sure its not corrupt at all? ie around line 200..

[2019-01-03 10:44] jappish84 commented on #20
It must be something with the config.ini, just tried cloning another copy and running it without my config and it works fine

[2019-01-03 10:45] VeNoMouS commented on #20
open it in an editor and check around line 200...

[2019-01-03 10:47] jappish84 commented on #20
It seems the file has been corrupted in many places, not just at line 200. I think I have an older backup laying around somewhere. Thanks for pointing me in the right direction

[2019-01-03 10:53] VeNoMouS commented on #20
np

[2019-01-03 10:54] #20 closed

[2019-01-03 11:17] jappish84 commented on #20
It was corrupt from about line 195 and onward, corrected the lines using an older backup and now it's up and running again. Thanks again @VeNoMouS !

[2020-04-17 08:47] dventurino opened #21 "RARBG problem"
I have lots of these lines in my logs:

`2020-04-17 08:19:27 SEARCHQUEUE-BACKLOG-328724 :: [Rarbg] _doLogin() requested URL: https://torrentapi.org/pubapi_v2.php , requesting token, returned status code 403`

Is this a known issue?

[2020-04-17 08:49] VeNoMouS commented on #21
Is it a known issue? no... i havent done anything publicly on SB in ages... but I can look into it for you :)

[2020-04-17 09:09] dventurino commented on #21
Damn you are fast :)

Isn't app_id already specified at line 356 of rarbg.py?

[2020-04-17 09:34] VeNoMouS commented on #21
Yea I actually deleted that comment ;P

[2020-04-21 22:36] dventurino commented on #21
It looks like passing values in the url works, while setting them as json params doesn't.

[2020-04-22 00:08] VeNoMouS commented on #21
As json params?

it doesn't send as json... we only use json from the response payload, as we can use it as a dict

https://github.com/VeNoMouS/Sick-Beard/blob/torrentProviders/sickbeard/providers/rarbg.py#L355-L359

Notice how its `params` not `json`

[2020-04-22 17:34] dventurino commented on #21
So the complete url would be the same.

 I'm  not sure why if fails when called from python but not in a browser

[2020-09-02 14:15] #21 closed